.brand-logo {
    position: absolute;
    top: 1rem;
    z-index: 1;
    left: 1rem;
    width: 180px;
    ;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #6e6b7b;
}

html {
    height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5873;
}

.font-weight-bold {
    font-weight: 500 !important;
}

h2.card-title {
    font-size: 1.7rem;
    font-weight: 300 !important;
    color: #084DA6;
}

.btn.btn-first {
    color: #fff;
    border: 0;
    background-color: #084DA6;
}

.btn.btn-second {
    color: #fff;
    border: 0;
    background-color: #F29D35;
}

.inputborder {
    border: 2px solid #084DA6;
}

.bg-gray {
    background: #f8f8f8;
}

.tile1 {}

.tile2 {}

.tile3 {}

.tile4 {}

.feature img {
    margin-top: 25px;
    padding: 7px;
    width: 65px;
    transition: width 0.3s ease-in-out;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}




.tile1 p,
.tile2 p,
.tile3 p,
.tile4 p {
    padding: 15px;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #A0A0A0;
}


a {
    text-decoration: none;
}

.iconf {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 66px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* Ensure it's behind other content */
}

.tile {
    transition: all 0.5 ease-in-out;
    max-height: auto;
    min-height: auto;
    border: 0;
    border-radius: 11px;
}


.tile h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.tile h6 {
    font-weight: bold;
    font-size: 16px;
}

.logobg {
    background: red;
    padding: 7px;
    border-radius: 50%;
    width: 66px;
    margin-top: 15px;
}

.top1 {
    width: 29px;
    right: 0;
    position: absolute;
}

.tile .row {
    z-index: 1;
}

.top2 {
    width: 205px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.btn {
    border-radius: 15px;
}





@media (min-width: 991.98px) {
    .pagecontent {
        height: calc(100vh - 52.25px);
    }

    footer {
        flex-shrink: 0;
    }

    .appbody {
        flex: 1 0 auto;
        overflow-y: auto;
    }

    .tile {
        max-height: 200px;
        min-height: 200px;
    }
}